<!--↓エラー関係-->
<%= render 'layouts/errors', obj: @book %>
<!--↑エラー関係-->
<div class="container">
  <div class="row ">
    <div class="col-5 mx-auto">
      <h1>Editing Book</h1>
             
        <%= form_with model:@book, local:true do |f| %>
       
       <div class="form_group mb-3">
      <h4>Title</h4>
      <%= f.text_field :title, class:"form-control title" %>
       </div>
        <div class="form_group mb-3">
      <h4>Opinion</h4>
      <%= f.text_area :body, class:"form-control opinion" %>
       </div>
        <div class="form_group mb-3">
      <%= f.submit "Update Book", class: "btn btn-success" %>
       </div>
      <% end %>
      
      <%= link_to "Show", book_path(@book) %>
      |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>