<header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container">
          <div class="navbar-brand p-3">
            <li>
              <%= link_to "Bookers", root_path, {class: "text-light"} %>
            </li>
          </div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
         </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        
       <%= link_to user_path(current_user.id) do%>
       <li class="nav-item nav-link text-light">
           <i class="fas fa-home"></i>Home
       </li>
       <% end %>
       
        <%= link_to users_path do%>
       <li class="nav-item nav-link text-light">
           <i class="fas fa-users"></i>Users
       </li>
       <% end %>
        
       <%= link_to books_path do%>
       <li class="nav-item nav-link text-light">
           <i class="fas fa-book-open"></i>Books
       </li>
       <% end %>
        
       <%= link_to destroy_user_session_path, method: :delete do%>
       <li class="nav-item nav-link text-light">
           <i class="fas fa-sign-out-alt"></i>Logout
       </li>
       <% end %>
        
      <% else %>
         <%= link_to root_path do%>
       <li class="nav-item nav-link text-light">
           <i class="fas fa-home"></i>Home
       </li>
        <% end %>
        
        <%= link_to home_about_path do%>
       <li class="nav-item nav-link text-light">
           <i class="fas fa-link"></i>About
       </li>
	      <% end %>
        
        <%= link_to new_user_registration_path do%>
       <li class="nav-item nav-link text-light">
           <i class="fas fa-user-plus"></i>sign up
       </li>
        <% end %>
        
        <%= link_to new_user_session_path do%>
       <li class="nav-item nav-link text-light">
           <i class="fas fa-sign-in-alt"></i>Login
       </li>
	      <% end %>
        
      <% end %>
         </ul>
          </div>
        </div>
      </nav>
    </header>